body{
  font-family: "Lucida Console", Monaco, monospace;
  background-image: url("image_1.jpeg");
  background-size: cover;
  color: white;
}

img{
  position: relative;
  float: left;
  width: 12%;
  height: 3%;
}
h1 {
  width: 98%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 1%;
  border: 0px;
  margin: 0px;
}
