table {
  color: white;
  position: relative;
  margin-top: 25%;
  margin-left: 38%;
  border : 7px solid white;
  width : 25%;
  height : 20%;
}



.label_td{
  text-align: center;
}

.link_td{
  width: 100%;
  text-align: center;
}
